body{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(255, 245, 224);
    background-color: rgb(65, 176, 110);
}

.return a{
    left: 10px;
}
.staff-title h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 28px;
    text-decoration: underline;
}

.staff-title p{
    font-size: 15px;
    text-align: left;
}
.photo img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.staff-content h3{
    font-size: 18px;
    text-align: left;

}
.staff-content p{
    font-size: 15px;
    text-align: left;
}
.footer{
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer p{
    font-size: 9px;
    color: gray;
}

@media screen and ( min-width:600px ){
    body{
        margin-left: 20%;
        margin-right: 20%;
    }
}
